html {
    height: 100%;
    margin: 0;
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    font-family: "Roboto", serif;
    cursor: crosshair;
    background-color: var(--third-color);
}

:root{
    --primary-color: black;
    --secondary-color: Black;
    --third-color: white;
}

.dark-theme{
    --primary-color: white;
    --secondary-color: white;
    --third-color: #222222
}

.video-1{
    height: auto;
    width: auto;
    position: relative;
    margin: 0 auto; /* Center the container horizontally */
}

.audio-bottles{
    height: auto;
    width: auto;
    margin: 0 auto; /* Center the container horizontally */
    text-align: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
}
.nav{
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav li{
    margin:0 10px;
}

.nav li a {
    color:var(--primary-color);
    text-decoration: none;
    font-size: 16px;
}

.nav li a:hover{
    color:red;
}

.logo-container{
    padding-left: 5px;
    text-align: center;
}
.logo-top{
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.logo-text{
    margin: 0 auto;
    color: var(--primary-color);
}
.news-title{
    height: auto;
    margin: 20px auto;
    text-align: center;
    font-size:42px;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 1px;
    padding: 42px;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.selector{
    width: 60%; /* Adjust width as needed */
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin: 0 auto; /* Center the container horizontally */
    text-align: center;

}

.selector label {
    display: block;
    margin: 10px auto; /* Center the container horizontally */
    text-align: center;
    color:var(--primary-color);
}

.iframe-container{
    width: 60%; /* Adjust width as needed */
    height: auto;
    padding: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin: 0 auto; /* Center the container horizontally */
    text-align: center;
}

.iframe-container-wiki{
    width: 70%; /* Adjust width as needed */
    height: auto;
    padding: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin: 0 auto; /* Center the container horizontally */
    text-align: center;
}

iframe{
    width: 100%;
    height: 700px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.selector button{
    display: block;
    margin: 20px auto; /* Center the container horizontally */
    text-align: center;
}

.about-us-img{
    height: 820px;
    width:60%;
    position: relative;
    z-index: 1;
    margin: 0 auto; /* Center the container horizontally */
}

.about-us-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

article{
    width: 60%;
    height: auto;
    margin: 50px auto;
    position: relative;
    padding: 20px;
    z-index: 1;
}

article img{
    float: left;
    margin-right: 20px;
    width: 250px;
    height: 250px;
}

article h1{
    font-size: 24px;
    color: var(--secondary-color);
    line-height: 1.6;
    margin-bottom: 20px
}

article p{
    font-size: 18px;
    color: var(--secondary-color);
    line-height: 1.6;
    margin-bottom: 20px
}

footer{
    margin-top: auto;
    text-align: center;
    padding: 20px;
    color:var(--primary-color);
}
